<mat-card class="home-card">
  <mat-card-content>
    <mat-card-title>Budget Balance</mat-card-title>
    <mat-card-subtitle>{{ budgetBalance | currency }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-content>
    <mat-card-title>Expense Balance</mat-card-title>
    <mat-card-subtitle>{{ expenseBalance | currency }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-content>
    <mat-card-title>Savings Balance</mat-card-title>
    <mat-card-subtitle>{{ savingsBalance | currency }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-content>
    <mat-card-title>Reports</mat-card-title>
  </mat-card-content>
</mat-card>